<body>
<h2>Create a Book</h2>
<form action="/book/create-book" method="POST">
  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title" required><br>
  <label for="inventoryCount">Inventory Count:</label><br>
  <input type="text" id="inventoryCount" name="inventoryCount" required><br>
  {{e}} <br>
  <input type="submit" value="Submit">
</form> 
</body>