<body>
<h2>Delete a Book</h2>
<form action="/book/delete-book?_method=DELETE" method="POST">
  <label for="bookID">Book ID:</label><br>
  <input type="text" id="ID" name="id" required><br>
  {{e}} <br>
  <input type="submit" value="Submit">
</form> 
</body>