<h2>{{text}}</h2>
<ul>
    {{#each arr}}
    <li>
        <form method="GET" action="forms/getUser" class="inline">
            <input type="hidden" name="title" value="{{title}}">
            <button type="submit" name="submit" value="{{title}}" class="link-button">
                {{title}}
            </button>
        </form>
    </li>
    {{/each}}
</ul>