<body>
<h2>Get a Book</h2>
<form action="/book/get-book" method="GET">
  <label for="bookID">Book ID:</label><br>
  <input type="text" id="ID" name="id" required><br>
  {{e}} <br>
  <input type="submit" value="Submit">
</form> 
</body>