
<h2>Book CRUD</h2>
<ul>
    <li>
        <a href="/forms/getBook">Get</a>
    </li>
    <li>
        <a href="/forms/createBook">Create</a>
    </li>
    <li>
        <a href="/forms/editBook">Edit</a>
    </li>
    <li>
        <a href="/forms/deleteBook">Delete</a>
    </li>
</ul>

<h2>Book Forums</h2>
<ul>
    <li>
        <a href="/forum">Choose a book forum</a>
    </li>
</ul>